@keyframes glowing {
    0% {
      transform: scale(1);
      opacity: 1;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
    50% {
      transform: scale(1.2);
      opacity: 0.7;
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }
    100% {
      transform: scale(1);
      opacity: 1;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
  }
  
  .particle {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: glowing 2s infinite;
  }
  